body {
	background: black;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

p {
	color: blue;
}

.postcard {
	/* tus estilos van aquí */
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 350px;
	height: 50px;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left {
	background-color: white;
}

.body-right {
	background-color: white;
}

.postcard-footer {
	background-color: white;
}
